.shows-view {
    bottom: 120px;
}

nav-bar {
    display: block;
    height: 90px;
    line-height: 90px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(20px) saturate(1.2) brightness(1.2) contrast(1.2);
    color: #ffffff;
    position: absolute;
    top: 0px;
    width: 100%;
    font-weight: 300;
    z-index: 9999;
}

list-items-container {
    display: block;
    top: 0px;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding-top: 90px;
}

.iOS list-items-container {
    padding-top: 130px;
}

list-items {
    display: block;
}

list-item {
    display: block;
    width: 100%;
    height: 360px;
    background-size: cover;
}

show-title {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-weight: 200;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.321);
    -webkit-backdrop-filter: blur(20px) saturate(1.2) brightness(1.2) contrast(1.2);
}

.detail-view {
    top: 0px;
    overflow: scroll;
    background-size: cover;
    color: #ffffff;
    font-size: 10px;
}

detail-background {
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.detail-view .info {
    background: rgba(0, 0, 0, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    bottom: 0;
    position: absolute;
    width: 100%;
    font-size: 60px;
    padding: 40px;
    line-height: 1.7;
    -webkit-backdrop-filter: blur(20px) saturate(1.2) brightness(1.2) contrast(1.2);
}
